*{
    margin: 0;
}

.navbar {
    background-color: #000000;

}

.NavBrand {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.Navlink {
    color: white;
}

.Dropdown {
    color: white;
}
