.Categories {
    position: relative;
    left: 90px;
    top: 20px;
}

.Entertainment {
    position: relative;
    top: 150px;
}

.Food {
    position: relative;
    top: 70px;
    left: 135px;
    width: 25%;
}

.Travel {
    position: relative;
    top: 15px;
    width: 25%;
    right: 50px;
}
